fastapi
uvicorn[standard]
pandas
duckdb
requests
snowflake-connector-python
pydantic
python-multipart
pyjwt
passlib[bcrypt]
bcrypt<4
psycopg2-binary
pymysql
aiosqlite
scikit-learn
gspread
google-auth
transformers
torch
accelerate
